<style type="text/css" media="screen">
  <!--
  #seyon_ts3_viewer h2 {
        color: #FFF;
    }

    #seyon_ts3_viewer {
        font-family: Tahoma,Helvetica,Arial,sans-serif;
        font-size: 12px;
        line-height: 1.25em;
        padding: 5px;
    }

    #seyon_ts3_viewer h1 {
      color: #3D6A95;
      font-size: 2em;
      margin-bottom: 1em;
      font-weight:normal;
    }

    #seyon_ts3_viewer img {
      border: 0px;
    }

    #seyon_ts3_viewer a {
      color: #0088B5;
      text-decoration: underline;
    }

    #seyon_ts3_viewer a:hover {
      color: #FE6400;
      text-decoration: none;
    }

    #seyon_ts3_viewer div.footer {
      font-size: 8pt;
      color: #999;
    }

    #seyon_ts3_viewer table.ts3_viewer {
      width: 100%;
      border: 0px;
      border-collapse: collapse;
    }

    #seyon_ts3_viewer table.ts3_viewer tr.row1, table.ts3_viewer tr.row2 {
      background: transparent;
    }

    #seyon_ts3_viewer table.ts3_viewer_OLD tr.row2 {
      background: #F9F9F9;
      color:#000;
    }

    #seyon_ts3_viewer table.ts3_viewer td {
      white-space: nowrap;
      padding: 0px 0px 1px 0px;
      border: 0px;
    }

    #seyon_ts3_viewer table.ts3_viewer td.corpus {
      width: 100%;
    }

    #seyon_ts3_viewer table.ts3_viewer td.query {
      font-style: italic;
      color: #666E73;
    }

    #seyon_ts3_viewer table.ts3_viewer td.spacer {
      overflow: hidden;
    }

    #seyon_ts3_viewer table.ts3_viewer td.left {
      text-align: left;
    }

    #seyon_ts3_viewer table.ts3_viewer td.right {
      text-align: right;
    }

    #seyon_ts3_viewer table.ts3_viewer td.center {
      text-align: center;
    }

    #seyon_ts3_viewer table.ts3_viewer td.suffix {
      vertical-align: top;
    }

    #seyon_ts3_viewer table.ts3_viewer td.suffix img {
      padding-left: 2px;
      vertical-align: top;
    }

    #seyon_ts3_viewer table.ts3_viewer td.spacer.solidline {
      background: url('/bundles/seyonteamspeak3viewer/images/viewer/spacer_solidline.gif') repeat-x;
    }

    #seyon_ts3_viewer table.ts3_viewer td.spacer.dashline {
      background: url('/bundles/seyonteamspeak3viewer/images/viewer/spacer_dashline.gif') repeat-x;
    }

    #seyon_ts3_viewer table.ts3_viewer td.spacer.dashdotline {
      background: url('/bundles/seyonteamspeak3viewer/images/viewer/spacer_dashdotline.gif') repeat-x;
    }

    #seyon_ts3_viewer table.ts3_viewer td.spacer.dashdotdotline {
      background: url('/bundles/seyonteamspeak3viewer/images/viewer/spacer_dashdotdotline.gif') repeat-x;
    }

    #seyon_ts3_viewer table.ts3_viewer td.spacer.dotline {
      background: url('/bundles/seyonteamspeak3viewer/images/viewer/spacer_dotline.gif') repeat-x;
    }

    #seyon_ts3_viewer span.success {
      color: #648434;
    }

    #seyon_ts3_viewer span.error {
      color: #CF3738;
    }

    #seyon_ts3_viewer ul, #seyon_ts3_viewer li {
        color: #FFF !important;
        padding:0px !important;
        margin:0px !important;
    }

    #seyon_ts3_viewer li .here {
        color: #FFF !important;
        padding:0px !important;
        margin:0px !important;
    } 
  -->
  </style>
<div id="seyon_ts3_viewer">
  {% block seyon_teamspeak3_viewer_content %}

{% endblock %}  
</div>
