{% extends seyon_teamspeak3_viewer.template %}

{% block seyon_teamspeak3_viewer_content %}
{% autoescape false %}
<div class="teamspeakview">
	{{ts3_overview}}
</div>
{% endautoescape %}
{% endblock %}
